<%= form_with(model: carrier) do |form| %>
  <% if carrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrier.errors.count, "error") %> prohibited this carrier from being saved:</h2>

      <ul>
        <% carrier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :domain %>
    <%= form.text_field :domain %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
