<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @message.admin_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @message.date_created %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
