<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @message.Text %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @message.Date_Created %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @message.Date_Sent %>
</p>

<p>
  <strong>Admin id:</strong>
  <%= @message.Admin_ID %>
</p>

<p>
  <strong>Message id:</strong>
  <%= @message.Message_ID %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
