<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <%# <style>

    #Myid{
      display:none;
    }
    .hide{
      display: block;
    }

    .display{
      display: none;
    }
  </style> %>
</head>

<body class="body-sec">
    
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                <p class="text-white-50 mb-5">Please create your login and password!</p>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <br>

                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  </div>

                  <br>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>

                  <div class="field">
                    <label>Enter the admin secret key to sign up<label>
                    <input id="input">
                    <button type="button" onclick="myFunction()">sumbit</button>
 
                  </div>

                  <br>

                  <div class="actions">
                    <p id = Myid style='display: none'> <%= f.submit "Sign up" %> </p>
                 
                  </div>

                <% end %>

                <br>

                <%= render "devise/shared/links" %>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<script>
function myFunction(){

  var x = document.getElementById("Myid");
  var userInput = document.getElementById("input");
  const secretKey = "key123!"
  if (x.style.display === "none" && userInput.value == secretKey) {
    x.style.display = "block";
}
}
</script>

</html>







